// Font weights
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$extrabold-weight: 800;
$black-weight: 900;

// Colors
$grey-100: #f8f9fa;
$grey-800: #343a40;
