// Font weights
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$extrabold-weight: 800;
$black-weight: 900;

// Colors
$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-600: #6c757d;
$grey-700: #495057;
$grey-800: #343a40;

$white: #fff;
$black: #000;
$primary: #00c3ff;
$secondary: #8392ab;
